<section class="l{{ level }} container component {% if pageBreakBefore %} page-break{% endif %}">
{% include 'componentTemplates/Heading.html' with name=name %}
{% include 'componentTemplates/SeverityLegend.html' with proactive=True %}

  {% for section in summary_groups %}

      <div class='finding-group-name'>
        {{ section.group.name }}
      </div>

      {% include section.group.findingClass.summaryTemplate with fgroup=section.group report=report %}

  {% empty %}
    <p>No finding groups with findings are available.</p>
  {% endfor %}

</section>
