.remediation-summary-component .remediation-summary-body {
  margin-top: 0.25rem;
}

.remediation-summary-component .remediation-summary-paragraph {
  margin-top: 0.9rem;
}

.remediation-summary-component .remediation-summary-footer-note {
  margin-top: 1rem;
}