<section class="l{{ level }} container component part{% if pageBreakBefore %} page-break{% endif %}">
{% include 'componentTemplates/Heading.html' %}

  {% for section in group_sections %}
    <section class="l{{ level }} component part">
      <h{{ level|add:"1" }}
        id="component_{{ id }}_group_{{ forloop.counter }}"
        class="toc-member findings-combined-group-name">
      {{ section.toc_index }} {{ section.group.name }}
      </h{{ level|add:"1" }}>

      <h{{ level|add:"2" }} class="findings-summary-heading">Summary of Findings</h{{ level|add:"2" }}>
      {% for finding in section.findings %}
        {% if not report.finding_uuids or finding.id in report.finding_uuids %}
          <p class="findings-summary-entry background-color-severity-faded" finding-severity="{{ finding.severity }}">
            <a href="#finding-{{ finding.id }}">{% if finding.prefix %}[{{ finding.number }}] {% endif %}{{ finding.name }}</a>
          </p>
        {% endif %}
      {% endfor %}

      {% if section.abridged_findings %}
        <h{{ level|add:"2" }} class="findings-summary-heading">Abridged Findings</h{{ level|add:"2" }}>
        {% for finding in section.abridged_findings %}
          {% if not report.finding_uuids or finding.id in report.finding_uuids %}
            {% include finding.abridgedTemplate with finding=finding %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </section>

    <section class="l{{ level }} container component part page-break">
      {% for finding in section.findings %}
        {% include finding.htmlTemplate with finding=finding first=0 showFindingNumbers=0 showVector=1 hideProactiveLabel=1 %}
        {% if not forloop.last %}
          <div class="page-break"></div>
        {% endif %}
      {% endfor %}
    </section>

  {% empty %}
    <p>No finding groups with findings are available.</p>
  {% endfor %}

</section>